<html>
<head>
    <title>Hello Twitter</title>
</head>
<body>

<form action="/exportTweets" method="get">
    <label for="tweet_count">Tweets count</label><input id="tweet_count" name="number" type="number" min="1" max="200"
                                                        value="5"/>

    <button type="submit">Get Tweets</button>

</form>

<form action="/exportPosts" method="get">
    <label for="tweet_count">Posts count</label><input id="post_count" name="number" type="number" min="1" max="200"
                                                       value="5"/>

    <button type="submit">Get Posts</button>

</form>
</body>
</html>